
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

.profile_pic{
    height:3vw;
    width: 3vw;
    border-radius: 50%;
}

span{
    display: block;
}


.title_wrapper{
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-0%);
    color: #1D3557;
    transition: 1s;
}

.title{
    font-size: 10vh;
    transition: 1s;

}

.extra_info_wrapper{
    position: fixed;
    bottom: 3%;
    left: 3%;
    padding: 0.5%;
    border-radius: 5%;
}

.mainPage{
    font-family: 'Outfit', sans-serif;
}

table{
    width: 60vw;
    font-size: 16px;
    color: #1D3557;
    border-spacing: 0px;
}

.table{
   color: #1D3557;

}

td{
    word-wrap: break-word;

}


  .page-wrapper{
      height: 5000vh;
  }


  .hover-display{
      visibility: hidden;
  }

  .blockText{
      left: 60%;
      top: 50%;
      position: fixed;
  }

  #arrow_down{
      width: 5vh;
      }


  /* Hover on Parent Container */
.profile_box:hover{
    cursor: pointer;
   }
   
   .profile_box:hover {
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }

   .extra_info_wrapper{
    background-color: rgba($color: #F1FAEE, $alpha: 0.5);
       color: #1D3557;
   }
  .transaction_wrapper{
      position: fixed;
      left: 60%;
      top: 50%;
      transform: translate(-50%, -50%);
    background-color: rgba($color: white, $alpha: 1);
    padding: 1%;
    color: #1D3557;
    border-radius: 15px;
    transition: 0.2s;
    opacity: 1;
  }

  .hidden_transaction_wrapper{
    position: fixed;
    left: 60%;
    top: 40%;
    transform: translate(-50%, -50%);
  background-color: rgba($color: white, $alpha: 1);
  padding: 1%;
  color: #1D3557;
  border-radius: 15px;
  transition: 0s;
  opacity: 0;
}
